*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
.container{
    padding: 20px;
    border-radius: 20%;
   margin: 3.9%;
    border: solid;
    width: 400px;
    height: 400px;
}
.BMiheading{
    margin-top: 10px;
    text-align: center;
}
.height1{
    margin-top: 20px;
    padding: 10px;
    margin-top: 5px;
}
.weight{
    margin-top: 50px;
    padding: 10px;
}
.button{
    margin-top: 10px;
   margin-left: 3.7rem;
   border-radius: 50px;
   width: 4.5rem;
  height: 2.5rem;
}